.event-top-info {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  .event-image-container {
    flex: 2;
  }
  .right-column {
    flex: 1;
    background: #f0f1f2;
    padding: 15px;
  }
}
