.ticket-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;

  .profile-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
  }

  .profile-right {
    display: flex;
    flex: 1;
    align-self: flex-start;

    button {
      flex: 1;
      margin: 10px;
    }
  }
}

.ticket-action-modal {
  text-align: center;
  display: flex;
  flex-direction: column;

  .ticket-address {
      margin: 10px 0;
  }

  input {
    flex: 1;
    background: #ececec;
    margin: 10px 0;
    text-align: center;
  }
}

.ReactModalPortal > * {
    // When the modal is closed, overlay div has no css class
    // This selector should be overridden by the `&--after-open` class below
    opacity: 0;
}
.ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}

.ReactModal__Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .deposit-address {
    flex: 1;
    background: #ececec;
    padding: 15px;
    text-align: center;
    margin: 10px 0px;
  }
}

// .tab-table {
//   overflow: scroll;
//   background: red;
// }

.events-table {
  display: flex;
  flex: 1;
  flex-direction: column;

  th {
    display: flex;
    padding: 0 15px;
    td {
      flex: 1;
    }
  }

  .event-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 15px 0;
    td {
      flex: 1;
    }
  }

  .odd {
    background: #ececec;
  }
}

.tickets-table {
  display: flex;
  flex: 1;
  flex-direction: column;

  th {
    display: flex;
    padding: 0 15px;
    td {
      flex: 1;
    }
  }

  .ticket-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 15px 0;
    td {
      display: flex;
      flex: 2;
      >.qty {
        flex: 1;
      }
      button {
        margin: 0 10px;
        width: 100px;
      }
    }
  }

  .odd {
    background: #ececec;
  }
}

.react-tabs {
  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;

    &--selected {
      background: #fff;
      border-color: #aaa;
      color: black;
      border-radius: 5px 5px 0 0;
    }
    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
  }
}
